<h1>Productos</h1>

<div class="row">
    {{#each productos}}
        {{#if status}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">Descripción: {{this.description}}</p>
                    <p class="card-text">Categoria: {{this.category}}</p>
                    <p class="card-text">Código: {{this.code}}</p>
                    <p class="card-text">Precio: ${{this.price}}</p>
                    <p class="card-text">Stock: {{this.stock}}</p>
                    <button type="button" class="btn btn-secondary">Agregar al carrito</button>
                </div>
            </div>
        {{/if}}
    {{/each}}
</div>