<div class="container mt-5">
    <h1>Producto</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{producto.title}}</h5>
            <p class="card-text">Descripción: {{producto.description}}</p>
            <p class="card-text">Categoría: {{producto.category}}</p>
            <p class="card-text">Código: {{producto.code}}</p>
            <p class="card-text">Precio: ${{producto.price}}</p>
            <p class="card-text">Stock: {{producto.stock}}</p>
            <button type="button" class="btn btn-secondary">Agregar al carrito</button>
        </div>
    </div>
</div>